certifi==2022.9.24
charset-normalizer==2.1.1
forex-python==1.8
idna==3.4
requests==2.28.1
simplejson==3.18.0
urllib3==1.26.12
autopep8==1.4.4
blinker==1.4
Click==7.0
Flask==1.1.1
Flask-DebugToolbar==0.10.1
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pycodestyle==2.5.0
Werkzeug==0.16.0
