{% extends "base.html" %}
{% block content %}



<div class="form-container">
    <h3 class="title">Forex Converter</h3>

<div class="msg errors">
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul class="flashes">
        {% for msg in messages %}
        <li>{{msg}}</li>
        {% endfor %}
    </ul>

    {% endif %}
   {% endwith %}
</div>
    <form class="converter-form" action="/results" method="POST">

        <label for="from">Currency From
            <input type="text" name="from" class="from-value" placeholder="ex USD">
        </label>
        <label for="to">Currency To
            <input type="text" name="to" class="to-value" placeholder="ex GBP">
        </label>
        <label for="amount">Amount
            <input type="text" name="amount" class="amount-value" placeholder="100">
        </label>

        {% for msg in get_flashed_messages() %}
         <div>{{ msg }}</div>
        {% endfor %}
        
        <button type="submit">
            Submit!
        </button>

    </form>
</div>

{%endblock%}